<template>
  <section>
    <div class="form-container">
      <form class="form" @submit.prevent="submitForm">
        <span @click="$emit('hideDialog')" class="closer">X</span>
        <span>Добавление пользователя</span>
        <div class="form-field-wrapper">
          <label>Имя</label>
          <input type="text" v-model="name">
        </div>
        <div class="form-field-wrapper">
          <label>Телефон</label>
          <masked-input mask="\+1 111 111 11 11"
                       v-model="phone"/>
        </div>
        <div class="form-field-wrapper">
          <label>Начальник</label>
          <select v-model="director">
            <option v-for="user in users" :value="user.id" :key="user.id">{{user.name}}</option>
          </select>
          <span @click="director=null" class="clicker">X</span>
        </div>
        <input type="submit" value="Сохранить" :disabled="!canSubmit">
      </form>
    </div>
    <div class="cover"></div>
  </section>
</template>

<script>

import MaskedInput from 'vue-masked-input'

export default {
  name: 'ModalUsers',
  components: { MaskedInput },
  props: {
    users: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      name: null,
      phone: null,
      director: null
    }
  },
  computed: {
    isCorrectedNumber () {
      return (/[+][0-9]\s[0-9]{3}\s[0-9]{3}\s[0-9]{2}\s[0-9]{2}/).test(this.phone)
    },
    canSubmit () {
      return !!this.name && this.isCorrectedNumber
    }
  },
  methods: {
    submitForm () {
      const data = {
        phone: this.phone,
        name: this.name,
        director: this.director
      }
      this.$emit('addUser', data)
      this.$emit('hideDialog')
    }
  }
}
</script>

<style scoped>

  .form-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    opacity: 1;
    background-color: white;
    padding: 10px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .form-field-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 7px 10px;
  }

  .form-field-wrapper label {
    padding: 0 5px;
    width: 100px;
  }

  .form-field-wrapper input, select {
    flex: 1 1 auto;
  }

  .form-field-wrapper select {
    height: 21px;
  }

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.1;
  }

  .clicker {
    cursor: pointer;
    padding-left: 5px;
  }

  .closer {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
  }

</style>
