<template>
  <section>
    <button @click="$emit('showModal')">Добавить</button>
    <div class="sorters">
      <div class="sorter" v-for="column in columns" :key="column.property" @click="changeSorter(column.property)">
        {{column.label}}
        <div :class="getClassForArrow(column.property)" class="arrow"></div>
      </div>
    </div>
    <vue-ads-table
      :columns="columns"
      :rows="treeUsers"
      :classes="tableClasses"
    >

      <template slot="toggle-children-icon" slot-scope="props"> [{{ props.expanded ? '-' : '+' }}] </template>
    </vue-ads-table>
  </section>
</template>

<script>

// https://github.com/arnedesmedt/vue-ads-table-tree
import { VueAdsTable } from 'vue-ads-table-tree'

export default {
  name: 'TableUsers',
  components: { VueAdsTable },
  props: {
    users: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      columns: [
        {
          property: 'name',
          label: 'Имя'
        },
        {
          property: 'phone',
          label: 'Телефон'
        }
      ],
      sorters: {
        name: null,
        phone: null
      },
      start: 0,
      end: 2,
      treeUsers: [],
      tableClasses: {
        table: {
          'customedTable': true
        }
      }
    }
  },
  watch: {
    sortedUsers: {
      immediate: true,
      handler (users) {
        const hashTable = {}
        users.forEach(user => { hashTable[user.id] = {...user, _children: []} })
        const dataTree = []
        users.forEach(user => {
          if (user.director) {
            hashTable[user.director]._children.push(hashTable[user.id])
            hashTable[user.director]._showChildren = true
          } else dataTree.push(hashTable[user.id])
        })
        this.treeUsers = dataTree
      }
    }
  },
  methods: {
    changeSorter (property) {
      this.sorters[property] = (this.sorters[property] === null) ? true : (this.sorters[property]) ? false : null
    },
    getClassForArrow (property) {
      return (this.sorters[property] === true) ? 'up' : (this.sorters[property] === false) ? 'down' : 'empty'
    }
  },
  computed: {
    sortedUsers () {
      let copy = JSON.parse(JSON.stringify(this.users))
      return copy.sort((user1, user2) => {
        const namesComparing = (this.sorters.name === true) ? user1.name.localeCompare(user2.name)
          : (this.sorters.name === false) ? user2.name.localeCompare(user1.name) : 0
        const phonesComparing = (this.sorters.phone === true) ? user1.phone.localeCompare(user2.phone)
          : (this.sorters.phone === false) ? user2.phone.localeCompare(user1.phone) : 0
        return namesComparing || phonesComparing
      })
    }
  }
}
</script>

<style scoped lang="postcss">
  .customedTable {
    width: 100%;
    border-collapse: unset;
  }

  .sorters {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .sorter {
    width: 50%;
    text-align: center;
    position: relative;
    user-select: none;
  }

  .arrow {
    font-size: 1rem;
    background: url("../assets/images/icons/down-arrow.png") no-repeat center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: absolute;
  }

  .arrow.down {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .arrow.empty {
    background: none;
  }

  .arrow.empty:before {
    content: ' \25CF';
  }

</style>
