<template>
  <div id="app">
    <table-users @showModal="showModal=true" :users="users"></table-users>
    <modal-users @addUser="addUser" @hideDialog="hideDialog" v-if="showModal" :users="users"></modal-users>
  </div>
</template>

<script>
import TableUsers from './components/table_users'
import ModalUsers from './components/modal_users'
import usersTestData from '../static/usersTestData'

export default {
  name: 'App',
  components: { TableUsers, ModalUsers },
  data () {
    return {
      users: usersTestData,
      showModal: false
    }
  },
  created () {
    this.users = JSON.parse(window.localStorage.getItem('vueTestUsers')) || this.users
  },
  methods: {
    addUser (user) {
      user = {...user, id: this.users.length + 1}
      this.users.push(user)
      window.localStorage.setItem('vueTestUsers', JSON.stringify(this.users))
    },
    hideDialog () {
      this.showModal = false
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  color: #2c3e50;
}
</style>
